@font-face {
    font-family: Grotesk Demi;
    src: url("fonts/Amazing Grotesk Demi.otf");
}

@font-face {
    font-family: Uni;
    src: url("fonts/Uni Sans Heavy.otf");
}


body {
    margin: 0;
    padding: 0;
    background-color: #F7FFF7;
}

.main_wrapper {
    background-color: #F7FFF7;
    min-height: 100vh;
}

.img_wrapper {
    background: url(img/park.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.caption_wrapper {
    position: relative;
    text-align: center;
}

.caption {
    font-size: 70px;
    color: #F7FFF7;
    font-family: Uni, Arial;
    text-transform: uppercase;
    /*font-weight: bold;*/
}

.content {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 500px;
 }

.col {
    height: 250px;
}

.dgtu_img {
    background: url(img/front-dgtu.jpg) no-repeat center center;
    background-size: cover;
}

.park_img {
    background: url(img/park1.jpg) no-repeat center center;
    background-size: cover;
}

.info_wrapper {
    display: flex;
    align-items: center;
}

.info {
    font-family: "Grotesk Demi", Arial;
    font-size: 10pt;
}

#map {
    height: 300px;
    box-sizing: border-box;
}

.btn-primary {
    position: absolute;
    z-index: 999;
    right: 0;
    margin: 10px;
}

/*
//////////////////////////////////////////
map.html
//////////////////////////////////////////
*/

#fullMap {
    height: 100vh;
}



.card_wrapper {
    position: absolute;
    right: 0;
    z-index: 999;
    display: flex;
    font-family: Arial;
    flex-direction: column;
    background-color: transparent;
}

.card {
    margin: 10px;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
    word-wrap: break-word;
    width: 200px;
    border-radius: .25rem;
    background-clip: border-box;
}

.card-header {
    padding: .20rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125)
}

.card-body {
    flex: 1 1 auto;
    padding: 0.10em;
}
